<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Rhizm Relational Graph - Rhizomatic Sublime</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#212121" />
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/jquery.fullpage.min.css">
  <link rel="stylesheet" href="static/css/main.css">
</head>

<body>

  <div id="fullpage">
    <div class="section">
      <div style="max-width:20rem;min-height:100px;margin:auto;margin-top:0.5rem;padding:1rem;">
        <img style="min-width:200px" src="static/img/logo_schriftzug.svg">
      </div>
    </div>
    <div class="section">
      <img src="static/img/michealangelo.jpg">
    </div>
    <div class="section">
      <div id="sketch-holder"></div>
    </div>
    <div class="section">
      <div class="container">
        <div class="item-a">
          <h3>Rhizm</h3>
          <p>We object to the mundane paradigm of Human-Computer-Interaction and demand a Human-Human-Interaction. It's pyhsicial,
            it's intimate, it's exciting. Rhizm is a device in the shape of a credit card that connects over a satisfying
            magnetic click. Caution: Hands may touch. The connection of two cards creates a new bond in a decentralized social
            mesh network. Combined with a web interface that shows the verified encrypted interactions (call it blockchain),
            Rhizm can be used for many different scenarios in which a physicial interaction between nodes must be safe. Or
            appealing. We understand our project as fundamental research in times of disbelief and scepsis among the realms
            of new technologies and social media. We want to commit ourselves to the power of open source platforms. Through
            social sandboxes like Rhizm a diverse variety of use cases such as self deployable social networks depending
            on real human interactions are possible. Inject - Exhaust - Dissipate
          </p>
        </div>
      </div>
    </div>
    <div class="section">
      <img src="static/img/pouch_1.jpg">
    </div>
    <div class="section">
      <div style="left: 0;text-align: center;bottom: 0px;position: relative;width:100%;">
        <p>by Alexander Lehmann & Maximilian Wolfs</p>
      </div>
    </div>
  </div>
  <!-- <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script> -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script language="javascript" type="text/javascript" src="static/js/vendor/p5.js"></script>
  <!-- <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script> -->
  <script language="javascript" type="text/javascript" src="static/js/vendor/jquery.fullpage.min.js"></script>
  <script src="static/js/main.js"></script>
  <script src="static/js/graph.js"></script>
  <!-- <h1>Rhizomatic Machines</h1>
  <h3>Rhizm Intercourses Database</h3>
  <ul>
        {% for i in intercourses %}
        <li><b>Id:</b> {{ i }}, <b>Timestamp:</b> {{ i.timestamp }}, <b>Intercourse Partner I:</b> {{ i.first }}, <b>Intercourse Partner II:</b> {{ i.second }} <b>Verified:</b> {{ i.verified }}</li>
        {% endfor %}
  </ul>> -->
</body>

</html>